///////////*Font*///////////

// base font
$base_font: "Montserrat", "Noto Sans JP", sans-serif;
$ttl_font: "Montserrat", sans-serif;
$jap_font: "Noto Sans JP", sans-serif;

/////////////*Color*/////////////
$black: #333;
$white: #fff;
$dark_grey: #4a4a4a;
$grey: #a1a1a1;
$light_grey: #ededed;
$red: #ff5151;
$blue: #565fff;

// Base Color
$base_color: $white;

// Base Font Color
$base_font_color: $black;

// Sub Font Color
$sub_font_color: $white;

// Button Color
$btn_color: $red;

// Button Font Color
$btn_font_color: $white;

// Link Color
$link_color: $blue;
